/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'assets/icons/jbh-icons/jbh-icon';
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../../node_modules/primeng/resources/themes/start/theme.css";
@import "../../../node_modules/primeng/resources/primeng.min.css";
@import '~prismjs/themes/prism.css';
@import "variables";

.bar-360 {
	position: fixed;
	background-color: white;
	z-index: 999;
}

.bar-360 row {
	background-color: white;
}

.ui-widget-content :not(.ui-card) {
	border: none;
}

.ui-tabmenu-nav {
	background-color: $primary-blue;
	position: fixed;
	width: 100%;
	margin-top: 50px !important;
	top: 0;
	height: $top-bar-height;
	border-radius: 0 !important;
	border: none;
}

#content {
	padding-top: 97px;
	padding-left: 15px;
}

.not-side {
	padding-left: 0 !important;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

html{
  height:100%;
}
body{
  height:100%;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.capitalize{
  text-transform: capitalize;
}

