<div *ngIf="isValidComponent">
  <h2 style="margin-top: 0.5em;" ><input [value]="section.title" (input) = $event.target.value></h2>
  <hr style="margin-top: 7px;">
  <textarea rows="5" cols="160" title="Body">{{section.body}}</textarea><br/>
  <div style="display: inline-block;">
    <p-card>
      <textarea rows="3" cols="40" title="Card">{{section.card}}</textarea>
    </p-card>
  </div>

  <br/><br/>
  <div style="padding-left: 50px; background-color: whitesmoke;">
    <template #dynamic></template>
  </div>
  <button (click)="addSection()" pButton type="button" label="Add a Section" icon="fa fa-anchor" class="ui-button-secondary"></button>
  <br/><br/>
  <button #orderNumBtn (click)="updateNumber()" pButton type="button" label="Order: 1" class="ui-button-warning"></button>
  <button pButton type="button" label="Save"></button>
  <button pButton (click)="deleteSection()" type="button" label="Delete"  class="ui-button-danger"></button>
  <br/><br/><br/>
</div>