.section-title {
	font-family: "Proxima Nova Alt", "Proxima Nova", "Proxima", Helvetica !important;
	color: #444444 !important;
}

.section-text {
	font-family: "Helvetica Neue", Helvetica;
	color: #939393;
	font-size: 1.1em;
	word-wrap: break-word;
}

.edit-field {
	border-color: #C9C9C9;
	border-width: 2px;
	border-radius: 5px;
}

.ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
	color: #373a3c !important;
	border-color: #C9C9C9;
	border-width: 2px;
}

.orderSpecial {
	height: 28px !important;
	top: 1px !important;
}