
<div *ngIf="isValidComponent" pDraggable="dragOpenSection"
     (onDragStart)="dragStart($event, this)">
  <h2 style="margin-top: 0.5em;" >
    <input class='section-title edit-field' #title
           [value]="section.title"
           (input) = $event.target.value
           (mouseleave)="saveChanges()">
  </h2>
  <hr style="margin-top: 18px;" class='title-break' color=#979797>
  <textarea #bodyText rows="5" title="Body" style="width: 100%;"
            class="section-text edit-field" id="bodyText"
            (click)="op.toggle($event);processText()"
            (mouseleave)="saveChanges()">{{section.markdown}}</textarea>

  <div pDroppable="dragSection" (onDrop)="addSection()"
       (dragenter) ="showNestText = true;" (dragleave) ="showNestText = false;" (mouseleave)="showNestText = false;">
    <i *ngIf="showNestText" class="fa fa-arrow-down" style="color:lightgrey;text-shadow: 0px 1px 1px black, 0px 0px 0px black;">&nbsp; New Child -- Drop Here!</i>
    <br/>
  </div>
  <div pDroppable="dragSection" (onDrop)="addNewSibling()"
       (dragenter) ="showAddText = true;" (dragleave) ="showAddText = false;" (mouseleave)="showAddText = false;">
    <i *ngIf="showAddText" class="fa fa-arrow-left" style="color: lightgreen; text-shadow: 0px 1px 1px green, 0px 0px 0px black">&nbsp; New Sibling -- Drop Here!</i>
    <br/>
  </div>
  <div pDroppable="dragOpenSection" (onDrop)="organizeSection()"
       (dragenter) ="showSequenceText = true;" (dragleave) ="showSequenceText = false;" (mouseleave)="showSequenceText = false;">
    <i *ngIf="showSequenceText" class="fa fa-arrows" style="color:orange;text-shadow: 0px 1px 1px red, 0px 0px 0px black;">&nbsp; Reorder Section -- Drop Here!</i>
    <br/>
  </div>

  <div style="padding-left: 50px; background-color: whitesmoke;">
    <template #dynamic></template>
  </div>

  <simple-notifications [options]="options"></simple-notifications>
  <p-overlayPanel #op>
    <h3>Future Text Editor Toolbar :)</h3>
  </p-overlayPanel>
</div>