
<div class="container header 360-bar">
    <div class="row">
        <img src="assets\images\360left.png">
        <div class="col">
            JIKI
        </div>
        <img src="assets\images\360right.png">
    </div>
</div>
<div class="container sidebar">
    <div class="row">
        <app-side-navigation [items]="items" [path]="path"></app-side-navigation>
        <div class="col">
            <p-tabMenu [model]="menuItems"></p-tabMenu>
            <router-outlet id='content'></router-outlet>
        </div>

  </div>
</div>
