<ul>
    <li *ngFor="let item of items" (click)="item.open = !item.open; $event.stopPropagation()">
        <a *ngIf="!item.children" routerLink='{{path}}{{item.name}}/read' routerLinkActive="active"> {{item.name}} </a>
        <span *ngIf="item.children">{{item.name}}
            <span *ngIf="item.children">{{(item.open)? '▼':'▶'}}</span>
        </span>
        <app-side-navigation *ngIf="item.children && item.open" [items]="item.children"
                             [path]="path + item.name + '/'"></app-side-navigation>
    </li>
</ul>