<ul>
    <li *ngFor="let item of items" (click)="this.dropdownHandler($event, item);">

        <a *ngIf="item.id" routerLink='{{path}}{{item.title}}/{{item.id}}/read' (click)="route(item.id)" routerLinkActive="active">
            {{item.title}} </a>


        <span class="category" *ngIf="!item.id">{{item.name}}
            <span *ngIf="item.children">{{(item.open)? '▼':'▶'}}</span>
            <span *ngIf=" !item.create"  class="plus"
                  (click)="item.create=true; $event.stopPropagation();">+
                </span>
        </span>

        <div tabindex="0" *ngIf="item.create"
             (click)="$event.stopPropagation()" class="create">
            <span class="cancel" (click)="item.create = false;">x</span>
            <input autofocus type="text" placeholder="title" [(ngModel)]="title">
            <span class="plus-create" (click)="createPage(item, $event);">+</span></div>


        <app-side-navigation *ngIf="item.children != null && item.open && !item.id" [items]="item.children"
                             [path]="path + item.name + '/'"></app-side-navigation>
    </li>
</ul>