<table *ngIf="pageInfo && pageInfo != null"><tbody><tr>
  <td style="padding-right:25px;max-width: 74vw;">
    <div *ngFor="let section2 of pageInfo.section">
      <app-editable-section [section]='section2'></app-editable-section>
    </div>
    <div *ngIf="pageInfo.section == null">
      <app-editable-section [section]='section'></app-editable-section>
    </div>
  </td>

  <td style="vertical-align: top">
    <br/>
    <p-card *ngIf="summaryCard !== ''">
      <markdown [data]="summaryCard"></markdown>
    </p-card>
  </td>
</tr></tbody></table>
<div *ngIf="pageInfo == null">
  <br/>
  <h2 style="font-weight: bold">NO CONTENT</h2>
  <h4 style="font-style: italic;">Please navigate through the left side-menu to beginning.</h4>
</div>