<table *ngIf="pageInfo && pageInfo != null"><tbody><tr>
  <td style="padding-right:25px; max-width: 74vw">
    <div *ngFor="let section of pageInfo">
      <app-section class='section-text'[section]='section'></app-section><br/><br/>
    </div>
  </td>

  <td class='summary-card' style="vertical-align: top">
    <br/>
    <p-card *ngIf="summaryCard !== ''">
      <div class='summary-text'>
        <markdown [data]="summaryCard"></markdown>
      </div>
    </p-card>
  </td>
</tr></tbody></table>