.section-title {
	font-family: "Proxima Nova Alt", "Proxima Nova", "Proxima", Helvetica !important;
	color: #444444 !important;
}

.title-break {
	color: #979797;
}

.section-text {
	font-family: "Helvetica Neue", Helvetica;
	color: #939393;
	font-size: 1.1em;
}

.index-card {

	border-color: #C9C9C9;
	background-color: #F9F9F9;
	border-width: 2px;

}