.section-title {
	font-family: "Proxima Nova Alt", "Proxima Nova", "Proxima", Helvetica !important;
	color: #444444 !important;
}

.title-break {
	color: #979797;
}

.section-text {
	font-weight: 100;
	font-style: italic;
	font-size: 18px;
	color: blue !important;
	font-family: sans-serif !important;
}